@font-face {
    font-family: Yanone Kaffeesatz ;
    src: url('assets/fonts/YanoneKaffeesatz-Bold.ttf');
}


body {
    background-color: #f1f1f1;
}

#gameArea {
    position: absolute;
    width: 640px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

canvas {
    margin: 0;
    padding: 0;
    display: block;
    font-family: Yanone Kaffeesatz
;
}

.game-finished {
    width: 480px;
    height: 270px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.level-menu {
    width: 640px;
    height: 360px;
    position: absolute;
    top: 0;
    left: 0;
}

.gbar {
    width: 630px;
    height: 40px;
    position: absolute;
    top: 5px;
    left: 5px;
}