* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body:has(.container) {
    height: 100vh;
    font-family: "Inter", sans-serif;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 3em;
    overflow: hidden;
    position: relative;
    background: black;
  }
  
  .container::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: radial-gradient(circle, #dbeafe 10%, transparent 11%);
    background-size: 1em 1em;
    opacity: 0.5;
    inset: 0;
    z-index: 0;
  }
  
  .container > * {
    z-index: 1;
  }
  
  .component-header {
    position: relative;
  }
  
  .component-header button {
    --wh: 3em;
  
    width: var(--wh);
    height: var(--wh);
    background: var(
      --matchBg,
      linear-gradient(to bottom right, #050708, #303339)
    );
    border: none;
    outline: none;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: calc(100% + 2em);
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .component-header button::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--liClr);
    mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m6 18 2.5-2.5M18 6H9m9 0v9m0-9-6.5 6.5' stroke='%231C274C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    mask-size: 60%;
    mask-repeat: no-repeat;
    mask-position: center;
  }
  
  .component-header h2 {
    text-align: center;
    color: transparent;
    position: relative;
    font-size: 1.8em;
    font-weight: 800;
    font-style: italic;
    background: var(
      --matchBg,
      linear-gradient(to bottom right, #050708, #303339)
    );
    background-clip: text;
    filter: drop-shadow(3px 3px 0px rgba(0, 0, 0, 0.1));
  }
  
  [data-theme="custom"] {
    --matchBg: linear-gradient(to bottom right, #0f172a, #4f453f) !important;
  }
  
  @media (max-width: 1024px) {
    .component-header h2 {
      font-size: 1.5em;
    }
  
    .component-header button {
      --wh: 2em;
    }
  }
  
  .themes ul {
    display: flex;
    gap: 0.8em;
    position: relative;
    --wh: 1.2em;
  }
  
  .themes ul::before {
    content: "";
    width: var(--wh);
    height: var(--wh);
    transform: scale(1.1);
    box-shadow: 0px 0px 0px 2px #fff;
    position: absolute;
    inset: 0;
    left: var(--posX, 0);
    border-radius: 50%;
    transition: 0.3s;
    transition-timing-function: (0.23, 1, 0.32, 1.2);
  }
  
  .themes ul li {
    width: var(--wh);
    height: var(--wh);
    border-radius: 50%;
    list-style: none;
    cursor: pointer;
    z-index: 1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .container {
    &[data-theme="dark"] {
      --diceEdgeClr: #22262f;
      --faceClr: #1e2022;
      --faceBeatClr: linear-gradient(to bottom right, #e2e8f0, #64748b);
      --liClr: rgb(212 212 216);
    }
  
    &[data-theme="light"] {
      --diceEdgeClr: #f3f3f3;
      --faceClr: #fff;
      --faceBeatClr: linear-gradient(
        to bottom right,
        rgb(93, 93, 95),
        rgb(30, 32, 34)
      );
      --liClr: rgb(9 9 11);
    }
  
    &[data-theme="custom"] {
      --diceEdgeClr: #c81a1a;
      --faceClr: #b91c1c;
      --faceBeatClr: linear-gradient(to bottom right, #fff, #e0e0e0);
      --liClr: rgb(212 212 216);
      --matchBg: tomato;
    }
  }
  
  
  .dice-container {
    display: flex;
    height: 15rem;
    width: 15rem;
    align-items: center;
    justify-content: center;
    perspective: 600px;
  }
  
  .dice-container::after {
    content: "";
    width: 7em;
    height: 7em;
    background: rgb(30 32 34 / 0.25);
    position: absolute;
    bottom: 0;
    border-radius: 50%;
    transform: rotateX(85deg) translateZ(-50px);
    filter: blur(40px);
  }
  
  .dice {
    --wh: 80px;
    width: var(--wh);
    height: var(--wh);
    position: relative;
    transition: 1s;
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1.2);
    background: var(--diceEdgeClr);
    transform-style: preserve-3d;
  }
  
  .dice .face {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    padding: 0.75rem;
    background: var(--faceClr);
    border: 2px solid var(--diceEdgeClr);
    transform-style: preserve-3d;
    display: grid;
    place-items: center;
  
    span {
      --wh: 0.8rem;
      width: var(--wh);
      height: var(--wh);
      background: var(--faceBeatClr);
      border-radius: 50%;
      box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.3);
    }
  
    & span:nth-of-type(1) {
      grid-area: a;
    }
  
    & span:nth-of-type(2) {
      grid-area: b;
    }
  
    & span:nth-of-type(3) {
      grid-area: c;
    }
  
    & span:nth-of-type(4) {
      grid-area: d;
    }
  
    & span:nth-of-type(5) {
      grid-area: e;
    }
  
    & span:nth-of-type(6) {
      grid-area: f;
    }
  
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background: var(--diceEdgeClr);
      border-radius: inherit;
      transform: translateZ(-2px) scale(1.08);
    }
  }
  
  .front {
    transform: translateZ(calc(var(--wh) / 2 + 1px));
    grid-template-areas:
      ". . ."
      ". a ."
      ". . .";
  }
  
  .top {
    transform: rotateX(90deg) translateZ(calc(var(--wh) / 2 + 1px));
    grid-template-areas:
      "a . ."
      ". . ."
      ". . b";
  }
  
  .left {
    transform: rotateY(-90deg) translateZ(calc(var(--wh) / 2 + 1px));
    grid-template-areas:
      "a . ."
      ". b ."
      ". . c";
  }
  
  .right {
    transform: rotateY(90deg) translateZ(calc(var(--wh) / 2 + 1px));
    grid-template-areas:
      "a . b"
      ". . ."
      "c . d";
  }
  
  .bottom {
    transform: rotateX(-90deg) translateZ(calc(var(--wh) / 2 + 1px));
    grid-template-areas:
      "a . b"
      ". c ."
      "d . e";
  }
  
  .back {
    transform: rotateY(180deg) translateZ(calc(var(--wh) / 2 + 1px));
    grid-template-areas:
      "a . b"
      "c . d"
      "e . f";
  }
  
  .dice[data-face="1"] {
    transform: translateZ(calc(var(--wh) / 2)) rotateX(20deg) rotateY(20deg);
  }
  
  .dice[data-face="2"] {
    transform: translateZ(calc(var(--wh) / 2)) rotateX(-70deg) rotateZ(20deg);
  }
  
  .dice[data-face="3"] {
    transform: translateZ(calc(var(--wh) / 2)) rotateY(70deg) rotateZ(25deg);
  }
  
  .dice[data-face="4"] {
    transform: translateZ(calc(var(--wh) / 2)) rotateY(-107deg) rotateZ(20deg);
  }
  
  .dice[data-face="5"] {
    transform: translateZ(calc(var(--wh) / 2)) rotateX(110deg) rotateZ(-20deg);
  }
  
  .dice[data-face="6"] {
    transform: translateZ(calc(var(--wh) / 2)) rotateY(158deg) rotateX(-20deg);
  }
  